{% extends 'navigationbar.html' %}
{% load static %} 
{% block body %}

{% ifequal error "no" %}
<script>
  alert("Registration successfully");
  window.location = '{% url "login" %}';
</script>
{% endifequal %} 

{% ifequal error "yes" %}
<script>
  alert("Registration failed");
</script>
{% endifequal %}
<style>
  .reg{
    color:  #4CAF50;
    size: 20px;
  }
</style>

<div class="container" style="margin-top: 50px">
  <h2  class="reg">E-care Registration</h2>
  <br /><br />
  <form method="post">
    {% csrf_token %}
    <label>FirstName</label>
    <input type="text" class="form-control" name="fname" />
    <label>LastName</label>
    <input type="text" class="form-control" name="lname" />
    <label>Email</label>
    <input type="email" class="form-control" name="email" />
    <label>Hospital</label>
    <input type="text" class="form-control" name="hospital" />
    <label>Phone Number</label>
    <input type="number" class="form-control" name="phonenumber" />
    <br>
        <select name="gender" id="gender">
        <option value="male ">Male</option>
        <option value="female">Female </option>
        <option value="other">Other xakka </option>
    </select>
    <br>
    <br>
    <br>
    <br>
    <label>CREATE USERNAME FOR LOGIN</label>
    <input type="text" class="form-control" name="uname" />
    <label>Password</label>
    <input type="password" class="form-control" name="pwd" />
    <label>Conform Password</label>
    <input type="password" class="form-control" name="conformpwd" />
    <br />
    
    <input type="submit" value="Register" class="form-control btn-primary" />
  </form>
</div>

{% endblock %}
